.banner{
    background-image: url('../../assets/banner.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-color: white;
    margin-top: 15px;
}

@media (max-width: 600px) {
    .banner{
        background-size: cover;
        height: 250px;
        background-position: center;
    }
    }